# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

### Step 3. Assign it to a variable called pokemon

In [11]:
pokemon = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

In [12]:
pokemon = pd.DataFrame(pokemon)
pokemon

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

In [17]:
a = ['hola']

In [18]:
a

['hola']

In [19]:
b = a.copy()

In [20]:
b

['hola']

In [21]:
b.append('adios')

In [22]:
a

['hola']

In [23]:
a = ['hola']

In [24]:
a

['hola']

In [25]:
b = a

In [26]:
b

['hola']

In [27]:
b.append('adios')

In [28]:
a

['hola', 'adios']

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [29]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution','pokedex']].copy()
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### [ ] Step 5. Add another column called place, and insert what you have in mind.

1. no entiendo porque esta en rojo...
2. el error/warning me esta diciendo tal
3. yo entiendo esto... porque dice copy of a slice...

In [30]:
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [31]:
pokemon['place'] = ['fd','fdgs','fdsaf','hrs']

In [32]:
pokemon

         name   type  hp   evolution pokedex  place
0   Bulbasaur  grass  45     Ivysaur     yes     fd
1  Charmander   fire  39  Charmeleon      no   fdgs
2    Squirtle  water  44   Wartortle     yes  fdsaf
3    Caterpie    bug  45     Metapod      no    hrs

### Step 6. Present the type of each column

In [33]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.